streamlit
langchain
langchain-community
langchain-core
langchain-openai
langchain-google-genai
langchain-pinecone
langchain-text-splitters
pinecone-client
python-dotenv
unstructured[docx]
python-docx
docx2txt
